<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymealaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{web.title}"></title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>

    <div class="container mt-5">
        <div class="row justify-content-center">
             <div class="col-md-6 text-center bg-light rounded p-4 shadow">
                <h1 th:text="${username}"></h1>
                <p>Simple crud application.</p>
            </div>
        </div>

    </div>

</body>
</html>